$body-color: $color-light-black;

.nobr {
	white-space: nowrap;
}
.border {
	border: 1px solid red;
	height: 50px;
}

.container {
	width: 100%;
	max-width: calc(1281px + $container-padding * 2);
	padding: 0 $container-padding;
	margin: 0 auto;
	box-sizing: border-box;
}

.hidden {
	display: none;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

* {
	margin-top: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}


.btn {
	display: inline-flex;
	padding: 0.75rem 1.75rem;
	font-size: 1.125rem;
	color: $btn-color;
	background: none;
	border: 2px solid $btn-color;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	transition: color $transition-duration-base ease, transform $transition-duration-base ease, border-color $transition-duration-base ease;
	-webkit-transition: color $transition-duration-base ease, transform $transition-duration-base ease, border-color $transition-duration-base ease;
	-moz-transition: color $transition-duration-base ease, transform $transition-duration-base ease, border-color $transition-duration-base ease;
	-ms-transition: color $transition-duration-base ease, transform $transition-duration-base ease, border-color $transition-duration-base ease;
	-o-transition: color $transition-duration-base ease, transform $transition-duration-base ease, border-color $transition-duration-base ease;

	cursor: pointer;
	@include hover() {
		color: $btn-color--hover;
		border-color: $btn-color--hover;
	}

	&:active {
		color: $btn-color--active;
		border-color: $btn-color--active;
		transform: scale(.95);
		-webkit-transform: scale(.95);
		-moz-transform: scale(.95);
		-ms-transform: scale(.95);
	}
	
	&--accent {
		color: $btn-accent-color;
		border-color: $btn-accent-border-color;
		
		@include hover() {
			color: $btn-color--hover;
			border-color: $btn-color--hover;
		}
	}
	
	@include breakpoint($breakpoint-sm) {
		font-size: 1rem;
		padding: 0.5rem 1.5rem;
	}
}

.social {	
	&--facebook {
		@include webfont-icon($webfont-icon--facebook);
	}
	&--instagram {
		@include webfont-icon($webfont-icon--instagram);
	}
	&--mail {
		@include webfont-icon($webfont-icon--mail);
		
		&::before {
			font-size: 0.875rem;
		}
	}
	&--telegram {
		@include webfont-icon($webfont-icon--telegram);
		
		&::before {
			font-size: 0.8rem;
		}
	}
	&--vk {
		@include webfont-icon($webfont-icon--vk);
		
		&::before {
			font-size: 0.625rem;
		}
	}
	&--watsapp {
		@include webfont-icon($webfont-icon--watsapp);
	}
	
	&::before {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		color: $color-white;
		background-color: $color-accent;
		border-radius: 50%;
	}
}

.section {
	padding: 1.5rem 0;
	
	&__title {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 2rem;
	}
}
